body {
  display:flex;
  justify-content:center;
  align-items:center;
}

.lights-out {
  background-color:black;
  color:white;
}

.button-off {
  background-color:transparent;
  border:black 1vh solid;
}

p {
  font-family:Trebuchet MS, sans-serif;
  color:white;
}

.seen {
  color:black;
}

span {
  display:flex;
  flex-direction:column;
  margin-top:10%;
  background-color:transparent;
  height:50vh;
  width:50vh;
  display:flex;
  align-items:center;
  justify-content:center;
  border-radius:30vh;
}

.glow {
  background-color:yellow;
}

button {
  padding:3vh;
  font-size:3vh;
  border:1vh solid black;
  background-color:transparent;
  font-weight:bold;
  transition:none;
}

button:hover {
  cursor:pointer;
}